@using Resources.Supervision.Index
@{
    Layout = "~/Views/Shared/Default.cshtml";
}

@Html.IncludeVersionedCss("/Content/bootstrap/bootstrap-tagsinput.css")
@Html.IncludeVersionedCss("/Content/jquery/jquery.fileupload.css")

@Html.IncludeVersionedCss("/Content/jquery/jquery.contextMenu.min.css")


<div style="margin-top: 10px">
    <div class="page-header">
        <h4>
            @SupervisionStrings.supervision
        </h4>
        <h6></h6>
    </div>
    @if (string.IsNullOrEmpty(UserManager.Instance.User.Customer))
    {
        <div class="row">
            <div class="col-md-12">
                <div class="tms-page-toolbar inline-toolbar left" data-block="#record">
                    <div class="btn-group">
                        <button class="btn btn-default btn-sm" title="Ctrl+R" selection-required="false" id="btnNew"><i class="fa fa fa-plus fa-fw"></i>@SupervisionStrings.addnew</button>
                        <button class="btn btn-default btn-sm" disabled="disabled" selection-required="false" title="Ctrl+S" id="btnSave"><i class="fa fa-floppy-o fa-fw"></i>@SupervisionStrings.save</button>
                        <button class="btn btn-default btn-sm" disabled="disabled" selection-required="true" title="Ctrl+U" id="btnUndo"><i class="fa fa-undo fa-fw"></i>@SupervisionStrings.undo</button>
                        <button class="btn btn-default btn-sm" disabled="disabled" selection-required="true" title="Ctrl+D" id="btnDelete"><i class="fa fa-trash-o fa-fw"></i>@SupervisionStrings.delete</button>
                        <button class="btn btn-default btn-sm" disabled="disabled" selection-required="true" title="Ctrl+H" id="btnHistory"><i class="fa fa-bolt fa-fw"></i>@SupervisionStrings.history</button>
                        <button class="btn btn-default btn-sm" disabled="disabled" selection-required="true" title="Ctrl+P" id="btnPrint"><i class="fa fa-print fa-fw"></i> @SupervisionStrings.print</button>

                    </div>
                </div>
            </div>
        </div>
    }
    <ul class="nav nav-tabs" id="navsupervision">
        <li class="active"><a data-toggle="tab" href="#list">@SupervisionStrings.list</a></li>
        <li><a data-toggle="tab" href="#record">@SupervisionStrings.record</a></li>
        <li><a enable-on-selection href="#results">@SupervisionStrings.results</a></li>
    </ul>
    <div class="tab-content">
        <div id="list" class="tab-pane active">
            <div id="grdSupervision"></div>
            <div class="sidebars">
                <div class="sidebar right" style="right: -400px;">
                    <div class="row">
                        <div class="col-md-12" style="text-align: center; margin-top: 10px;">
                            <button id="filter" class="btn btn-primary btn-xs"><i class="fa fa-filter"></i> @SupervisionStrings.filter</button>
                            <button id="clearfilter" class="btn btn-info btn-xs"><i class="fa fa-ban"></i> @SupervisionStrings.reset</button>
                            <button id="closesiderbar" class="btn btn-danger btn-xs"><i class="fa fa-times"></i> @SupervisionStrings.close</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="page-header">
                                <h5>@SupervisionStrings.created</h5>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" ctrltype="datepicker" class="i-filter form-control" id="datecreated_start">
                        </div>
                        <div class="col-sm-6">
                            <input type="text" ctrltype="datepicker" class="i-filter form-control" id="datecreated_end">
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div id="record" class="tab-pane">
            <div class="row record-content">
                <div class="col-md-4" id="divHeader">
                    <div class="panel panel-default" style="height: 842px;">
                        <div class="panel-heading task-panel-heading">@SupervisionStrings.record</div>
                        <div class="panel-body task-panel-body">
                            <div class="row custom">
                                <div class="col-md-4">
                                    @SupervisionStrings.supervisionid
                                </div>
                                <div class="col-md-8">
                                    <input id="supervisionid" disabled="disabled" alwaysdisabled="yes" type="text" class="form-control uppercase" />
                                </div>
                            </div>
                            <div class="row custom">
                                <div class="col-md-4">
                                    @SupervisionStrings.description
                                </div>
                                <div class="col-md-8">
                                    <input type="text" maxlength="250" disableoncomplete class="form-control" id="description" required />
                                </div>
                            </div>
                            <div class="row custom">
                                <div class="col-md-4">
                                    @SupervisionStrings.organization
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input type="text" maxlength="50" loadstatusesonchange="yes" disableonupdate="yes" class="form-control uppercase" id="org" required />
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" disableonupdate="yes" id="btnorg"><i class="fa fa-search fa-fw"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row custom">
                                <div class="col-md-4">
                                    @SupervisionStrings.type
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input type="text" loadstatusesonchange="yes" disableonupdate="yes" maxlength="50" required data-entity="SUPERVISION" class="form-control uppercase" id="type">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" disableonupdate="yes" type="button" id="btntype"><i class="fa fa-search fa-fw"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row custom">
                                <div class="col-md-4">
                                    @SupervisionStrings.status
                                </div>
                                <div class="col-md-8">
                                    <select class="form-control" id="status" data-code="-" data-pcode="Q" data-text="" required>
                                        <option class="default" value="">@SupervisionStrings.pleaseselect</option>
                                    </select>
                                </div>
                            </div>
                            <div id="divcancellationreason" class="hidden">
                                <div class="row custom">
                                    <div class="col-md-4">
                                        @SupervisionStrings.cancellationreason
                                    </div>
                                    <div class="col-md-8">
                                        <select class="form-control" disableoncomplete id="cancellationreason">
                                            <option class="default" value="">@SupervisionStrings.pleaseselect</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row custom">
                                <div class="col-md-4">
                                    @SupervisionStrings.requestedby
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input type="text" maxlength="50" disableoncomplete class="form-control uppercase" id="requestedby" required />
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" disableoncomplete type="button" id="btnrequestedby"><i class="fa fa-search fa-fw"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row custom">
                                <div class="col-md-4">
                                    @SupervisionStrings.tasknumber
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input type="text" maxlength="50" disableoncomplete ctrltype="numeric" allowfloat="false" class="form-control" id="task" />
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" disableoncomplete type="button" id="btntask"><i class="fa fa-search fa-fw"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row custom">
                                <div class="col-md-4">
                                    @SupervisionStrings.activity
                                </div>
                                <div class="col-md-8">
                                    <select class="form-control" disableoncomplete id="activity">
                                        <option class="default" value="">@SupervisionStrings.pleaseselect</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row custom">
                                <div class="col-md-4">
                                    @SupervisionStrings.customer
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input type="text" maxlength="50" disableoncomplete class="form-control" id="customer" required />
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" disableoncomplete type="button" id="btncustomer"><i class="fa fa-search fa-fw"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row custom">
                                <div class="col-md-4">
                                    @SupervisionStrings.branch
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input type="text" maxlength="50" disableoncomplete class="form-control" id="branch" required />
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" disableoncomplete type="button" id="btnbranch"><i class="fa fa-search fa-fw"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row custom">
                                <div class="col-md-4">
                                    @SupervisionStrings.category
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input type="text" maxlength="50" disableoncomplete class="form-control" id="category" required />
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" disableoncomplete type="button" id="btncategory"><i class="fa fa-search fa-fw"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row custom">
                                <div class="col-md-4">
                                    @SupervisionStrings.supervisor
                                </div>
                                <div class="col-md-7">
                                    <input type="text" class="form-control" disableoncomplete data-role="multival" id="supervisor">
                                </div>
                                <div class="col-md-1">
                                    <button id="btnsupervisor" disableoncomplete class="btn btn-default" type="button"><i class="fa fa-btn fa-plus"></i></button>
                                </div>
                            </div>
                            <div class="row custom">
                                <div class="col-md-4">
                                    @SupervisionStrings.createdby
                                </div>
                                <div class="col-md-8">
                                    <input type="text" disabled="disabled" maxlength="50" class="form-control" id="createdby" />
                                </div>
                            </div>
                            <div class="row custom">
                                <div class="col-md-4">
                                    @SupervisionStrings.created
                                </div>
                                <div class="col-md-8">
                                    <input type="text" disabled="disabled" class="form-control" id="created" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" id="divCustomFields">
                    <div class="panel panel-default" style="height: 842px;">
                        <div class="panel-heading task-panel-heading">@SupervisionStrings.customfields</div>
                        <div class="panel-body">
                            <div id="cfcontainer"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" id="divCmntsAttachments">
                    <div class="panel panel-default" style="height: 450px;">
                        <div class="panel-heading task-panel-heading">@SupervisionStrings.comments</div>
                        <div class="panel-body">
                            <textarea class="form-control" contenteditable rows="3" id="comment"></textarea>
                            <div class="inline-toolbar">
                                <button class="btn btn-primary btn-xs" selection-required="true" id="addComment"><i class="fa fa-plus-circle"></i>@SupervisionStrings.add</button>
                            </div>
                            <div id="comments" class="sm">
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default" style="height: 372px;">
                        <div class="panel-heading task-panel-heading">@SupervisionStrings.docs</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="progress">
                                        <div class="progress-bar" id="docuprogress" role="progressbar" style="width: 0%; min-width: 2em;">0%</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row custom">
                                <div class="col-md-12">
                                    <div id="fupload">
                                        <span class="btn btn-default fileinput-button" id="btnBrowse">
                                            <i class="fa fa-search"></i>
                                            <span>@SupervisionStrings.browse</span>
                                            <input type="file" name="files[]" id="fu" multiple data-url="/UploadFile.ashx">
                                        </span>
                                        <button class="btn btn-default" id="btnupload" disabled="disabled"><i class="fa fa-cloud-upload"></i>@SupervisionStrings.upload</button>
                                        <div class="row custom">
                                            <div class="col-md-12">
                                                <div id="filename"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="docs" class="light-size"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="results" class="tab-pane">
            @if (string.IsNullOrEmpty(UserManager.Instance.User.Customer))
            {
                <div class="well">
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-default btn-sm" title="Ctrl+S" id="btnSaveResults"><i class="fa fa-floppy-o fa-fw"></i> @SupervisionStrings.save</button>
                        </div>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-md-10">
                    <table class="table table-bordered" id="tblResults">
                        <thead>
                            <tr>
                                <td style="width: 5%; background: #108ce2; color: #FFF;">@SupervisionStrings.no</td>
                                <td style="width: 30%; background: #108ce2; color: #FFF;">@SupervisionStrings.question</td>
                                <td style="width: 10%; background: #108ce2; color: #FFF;">@SupervisionStrings.answer</td>
                                <td style="width: 5%; background: #108ce2; color: #FFF;">@SupervisionStrings.score</td>
                                <td style="width: 30%; background: #108ce2; color: #FFF;">@SupervisionStrings.note</td>
                                <td style="width: 10%; background: #108ce2; color: #FFF;">@SupervisionStrings.updated</td>
                                <td style="width: 10%; background: #108ce2; color: #FFF;">@SupervisionStrings.updatedby</td>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="col-md-2">
                    <div class="row">
                        <div class="col-md-8">
                            <h3> @SupervisionStrings.totalscore </h3>
                            <h1 style="color: #108ce2;" id="totalscore"></h1>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="modalaudit" role="dialog" aria-labelledby="modalsharedlbl" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="false">&times;</span></button>
                    <h4 class="modal-title" id="modaltitle"></h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-xs" id="modalsave">@SupervisionStrings.save</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="modalprint" role="dialog" aria-labelledby="modalsharedlbl" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/Reports/GenerateQUO" method="POST" target="_blank" novalidate>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="false">&times;</span></button>
                        <h4 class="modal-title">@SupervisionStrings.printoptions</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row custom">
                            <div class="col-md-4">
                                @SupervisionStrings.outputtype
                            </div>
                            <div class="col-md-8">
                                <div class="radio radio-primary radio-inline">
                                    <input type="radio" name="Type" id="pdf" value="PDF" disableonupdate="yes" checked>
                                    <label for="pdf">@SupervisionStrings.pdf</label>
                                </div>
                                <div class="radio radio-primary radio-inline">
                                    <input type="radio" name="Type" id="xls" disableonupdate="yes" value="XLS">
                                    <label for="xls">@SupervisionStrings.xls</label>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="Supervision" id="Supervision">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-xs"><i class="fa fa-fw fa-print"></i> @SupervisionStrings.print</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    var inbox = "@ViewBag.id";
</script>



@Html.IncludeVersionedJs("/Scripts/bootstrap/bootstrap-tagsinput.min.js")
@Html.IncludeVersionedJs("/Scripts/jquery/jquery.fileupload.js")
@Html.IncludeVersionedJs("/Scripts/jquery/jquery.iframe-transport.js")
@Html.IncludeVersionedJs("/Scripts/jquery/jquery.sidebar.min.js")
@Html.IncludeVersionedJs("/Scripts/other/numericInput.min.js")
@Html.IncludeVersionedJs("/Scripts/other/typeahead.bundle.js")
@Html.IncludeVersionedJs("/Scripts/jquery/jquery.contextMenu.min.js")

@Html.IncludeVersionedJs("/Scripts/custom/ovi.custom.list.js")
@Html.IncludeVersionedJs("/Scripts/custom/ovi.custom.documents.js")
@Html.IncludeVersionedJs("/Scripts/custom/ovi.custom.comments.js")
@Html.IncludeVersionedJs("/Scripts/custom/ovi.custom.customfields.js")

@Html.IncludeVersionedJs("/Scripts/app/Supervision.js")
