@using Resources.Reports.BTC
@{
    ViewBag.Title = "BTC";
    Layout = "~/Views/Shared/Default.cshtml";
}
@Html.IncludeVersionedCss("/Content/bootstrap/bootstrap-tagsinput.css")
@Html.IncludeVersionedCss("/Content/jquery/jquery.fileupload.css")
@Html.IncludeVersionedCss("/Content/jquery/jquery.contextMenu.min.css")

<div style="margin-top: 10px">
    <div class="page-header">
        <h4>@ReportBtcStrings.title</h4>
        <h6></h6>
    </div>
    <form action="/Reports/GenerateBTC" method="POST" target="_blank" novalidate>
        <div class="row">
            <div class="col-md-12">
                <div class="tms-page-toolbar inline-toolbar left" data-block="#record">
                    <div class="btn-group">
                        <button class="btn btn-default btn-sm" title="Ctrl+R" selection-required="false" id="btnRun"><i class="fa fa fa-plus fa-fw"></i> @ReportBtcStrings.run</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;" id="record">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading page-panel-heading">@ReportBtcStrings.parameters</div>
                    <div class="panel-body page-panel-body">
                        <div class="row">
                            <div class="col-md-6">

                                <div class="row custom">
                                    <div class="col-md-3">
                                        @ReportBtcStrings.customer
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <input type="text" maxlength="50" required class="form-control" name="Customer" id="customer">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" id="btncustomer"><i class="fa fa-search fa-fw"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row custom">
                                    <div class="col-md-3">
                                        @ReportBtcStrings.taskcreated
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" ctrltype="datepicker" maxlength="50" class="form-control" name="TaskCreatedStart" id="TaskCreatedStart">
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" ctrltype="datepicker" maxlength="50" class="form-control" name="TaskCreatedEnd" id="TaskCreatedEnd">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row custom">
                                    <div class="col-md-3">
                                        @ReportBtcStrings.outputtype
                                    </div>
                                    <div class="col-md-9">
                                        <div class="radio radio-primary radio-inline">
                                            <input type="radio" name="Type" id="pdf" value="PDF" disableonupdate="yes" checked>
                                            <label for="pdf">@ReportBtcStrings.pdf</label>
                                        </div>
                                        <div class="radio radio-primary radio-inline">
                                            <input type="radio" name="Type" id="xls" disableonupdate="yes" value="XLS">
                                            <label for="xls">@ReportBtcStrings.xls</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
 
</div>

@Html.IncludeVersionedJs("/Scripts/jquery/jquery.fileupload.js")
@Html.IncludeVersionedJs("/Scripts/jquery/jquery.iframe-transport.js")
@Html.IncludeVersionedJs("/Scripts/other/typeahead.bundle.js")
@Html.IncludeVersionedJs("/Scripts/jquery/jquery.contextMenu.min.js")
@Html.IncludeVersionedJs("/Scripts/custom/ovi.custom.list.js")
@Html.IncludeVersionedJs("/Scripts/bootstrap/bootstrap-tagsinput.min.js")
@Html.IncludeVersionedJs("/Scripts/app/ReportBTC.js")