@using Resources.ProgressPaymentLines.Index
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Default.cshtml";
}
<div style="margin-top: 10px">
    <div class="page-header">
        <h4>@ProgressPaymentLinesStrings.progresspaymentlines</h4>
        <h6></h6>
    </div>
    <div id="grdProgressPaymentLines"></div>
    <div class="sidebars">
        <div class="sidebar right" style="right: -400px;">
            <div class="row">
                <div class="col-md-12" style="text-align: center; margin-top: 10px;">
                    <button id="filter" class="btn btn-primary btn-xs"><i class="fa fa-filter"></i> @ProgressPaymentLinesStrings.filter</button>
                    <button id="clearfilter" class="btn btn-info btn-xs"><i class="fa fa-ban"></i> @ProgressPaymentLinesStrings.reset</button>
                    <button id="closesiderbar" class="btn btn-danger btn-xs"><i class="fa fa-times"></i> @ProgressPaymentLinesStrings.close</button>
                </div>
            </div>
            <div class="row custom">
                <div class="col-md-12">
                    <div class="page-header">
                        <h5>@ProgressPaymentLinesStrings.taskcompleted</h5>
                    </div>
                </div>
                <div class="col-sm-6">
                    <input type="text" ctrltype="datepicker" class="i-filter form-control" id="taskcompleted_start">
                </div>
                <div class="col-sm-6">
                    <input type="text" ctrltype="datepicker" class="i-filter form-control" id="taskcompleted_end">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h5>@ProgressPaymentLinesStrings.pspcreated</h5>
                    </div>
                </div>
                <div class="col-sm-6">
                    <input type="text" ctrltype="datepicker" class="i-filter form-control" id="pspcreated_start">
                </div>
                <div class="col-sm-6">
                    <input type="text" ctrltype="datepicker" class="i-filter form-control" id="pspcreated_end">
                </div>
            </div>
        </div>
    </div>
</div>

@Html.IncludeVersionedJs("/Scripts/jquery/jquery.sidebar.min.js")
@Html.IncludeVersionedJs("/Scripts/app/ProgressPaymentLines.js")