@using Resources.Departments.Index
@using Resources.Types.Index
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Default.cshtml";
}

@Html.IncludeVersionedCss("/Content/bootstrap/bootstrap-tagsinput.css")

<div style="margin-top: 10px">
    <div class="page-header">
        <h4>@DepartmentStrings.departments</h4>
        <h6></h6>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tms-page-toolbar inline-toolbar left" data-block="#record">
                <div class="btn-group">
                    <button class="btn btn-default btn-sm" title="Ctrl+R" selection-required="false" id="btnNew"><i class="fa fa fa-plus fa-fw"></i> @DepartmentStrings.addnew</button>
                    <button class="btn btn-default btn-sm" title="Ctrl+S" selection-required="false" id="btnSave"><i class="fa fa-floppy-o fa-fw"></i> @DepartmentStrings.save</button>
                    <button class="btn btn-default btn-sm" title="Ctrl+U" selection-required="true" id="btnUndo"><i class="fa fa-undo fa-fw"></i> @DepartmentStrings.undo</button>
                    <button class="btn btn-default btn-sm" title="Ctrl+D" selection-required="true" id="btnDelete"><i class="fa fa-trash-o fa-fw"></i> @DepartmentStrings.delete</button>
                    <button class="btn btn-default btn-sm" title="Ctrl+H" selection-required="true" id="btnHistory" disabled="disabled"><i class="fa fa-bolt fa-fw"></i> @DepartmentStrings.history</button>
                    <button class="btn btn-default btn-sm" title="ctrl+Q" selection-required="true" id="btnTranslations" disabled="disabled"><i class="fa fa-globe"></i> @DepartmentStrings.translations</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="scrollbar-macosx">
                <div class="list-group"></div>
            </div>
        </div>
        <div class="col-md-9">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" default-on-reset href="#record">@DepartmentStrings.record</a></li>
                <li><a href="#tasktypes" enable-on-selection>@DepartmentStrings.tasktypes</a></li>
                <li><a href="#categories" enable-on-selection>@DepartmentStrings.categories</a></li>
            </ul>
            <div class="tab-content">
                <div id="record" class="tab-pane active">
                    <div class="panel panel-default">
                        <div class="panel-heading page-panel-heading">@DepartmentStrings.record</div>
                        <div class="panel-body page-panel-body">
                            <div class="row custom">
                                <div class="col-md-2">
                                    @DepartmentStrings.code
                                </div>
                                <div class="col-md-4">
                                    <input type="text" maxlength="50" id="code" required disableonupdate="yes" class="form-control form-code" />
                                </div>
                            </div>
                            <div class="row custom">
                                <div class="col-md-2">
                                    @DepartmentStrings.description
                                </div>
                                <div class="col-md-4">
                                    <input type="text" maxlength="250" id="desc" required class="form-control" />
                                </div>
                            </div>
                            <div class="row custom">
                                <div class="col-md-2">
                                    @DepartmentStrings.organization
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <input type="text" maxlength="50" disableonupdate="yes" class="form-control" required id="org">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" disableonupdate="yes" type="button" id="btnorg"><i class="fa fa-search fa-fw"></i></button>
                                        </span>
                                    </div><!-- /input-group -->
                                </div>
                            </div>
                            <div class="row custom">
                                <div class="col-md-2">
                                    @DepartmentStrings.manager
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <input type="text" maxlength="50" class="form-control" required id="manager">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" id="btnmanager"><i class="fa fa-search fa-fw"></i></button>
                                        </span>
                                    </div><!-- /input-group -->
                                </div>
                            </div>
                            <div class="row custom">
                                <div class="col-md-2">
                                    @DepartmentStrings.timekeepingofficer
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <input type="text" maxlength="50" class="form-control" required id="timekeepingofficer">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" id="btntimekeepingofficer"><i class="fa fa-search fa-fw"></i></button>
                                        </span>
                                    </div><!-- /input-group -->
                                </div>
                            </div>
                            <div class="row custom">
                                <div class="col-md-2">
                                    @DepartmentStrings.authorized
                                    <span id="authorizedcnt"></span>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <input type="text" data-role="multival" class="form-control" id="authorized">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" id="btnauthorized"><i class="fa fa-search fa-fw"></i></button>
                                        </span>
                                    </div><!-- /input-group -->
                                </div>
                            </div>
                            <div class="row custom">
                                <div class="col-md-2">
                                    @DepartmentStrings.active
                                </div>
                                <div class="col-md-4">
                                    <div class="checkbox checkbox-primary">
                                        <input type="checkbox" class="styled" checked="checked" id="active" />
                                        <label></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tasktypes" class="tab-pane">
                    <div class="panel panel-default">
                        <div class="panel-heading page-panel-heading">@DepartmentStrings.tasktypes</div>
                        <div class="inline-toolbar left" data-block="#tasktypes">
                            <div class="btn-group">
                                <button class="btn btn-default btn-sm" title="Ctrl+S" selection-required="false" id="btnSaveTypes"><i class="fa fa fa-floppy-o fa-fw"></i>@TypeStrings.save</button>
                            </div>
                        </div>
                        <div class="panel-body page-panel-body">
                        </div>
                    </div>
                </div>
                <div id="categories" class="tab-pane">
                    <div class="panel panel-default">
                        <div class="panel-heading page-panel-heading">@DepartmentStrings.categories</div>
                        <div class="inline-toolbar left" data-block="#categories">
                            <div class="btn-group">
                                <button class="btn btn-default btn-sm" title="Ctrl+S" selection-required="false" id="btnSaveCategories"><i class="fa fa fa-floppy-o fa-fw"></i>@TypeStrings.save</button>
                            </div>
                        </div>
                        <div class="panel-body page-panel-body">
                            <div class="categories"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.IncludeVersionedJs("/Scripts/bootstrap/bootstrap-tagsinput.min.js")
@Html.IncludeVersionedJs("/Scripts/custom/ovi.custom.list.js")
@Html.IncludeVersionedJs("/Scripts/app/Departments.js")