@using Resources.Shifts.Index
@{
    Layout = "~/Views/Shared/Default.cshtml";
}
<div style="margin-top: 10px">
    <div class="page-header">
        <h4>@ShiftStrings.shifts</h4>
        <h6></h6>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tms-page-toolbar inline-toolbar left" data-block="#record">
                <div class="btn-group">
                    <button class="btn btn-default btn-sm" title="Ctrl+R" selection-required="false" id="btnNew"><i class="fa fa fa-plus fa-fw"></i> @ShiftStrings.addnew</button>
                    <button class="btn btn-default btn-sm" title="Ctrl+S" selection-required="false" id="btnSave"><i class="fa fa-floppy-o fa-fw"></i> @ShiftStrings.save</button>
                    <button class="btn btn-default btn-sm" title="Ctrl+U" selection-required="true" id="btnUndo"><i class="fa fa-undo fa-fw"></i> @ShiftStrings.undo</button>
                    <button class="btn btn-default btn-sm" title="Ctrl+D" selection-required="true" id="btnDelete"><i class="fa fa-trash-o fa-fw"></i> @ShiftStrings.delete</button>
                    <button class="btn btn-default btn-sm" title="Ctrl+H" selection-required="true" id="btnHistory" disabled="disabled"><i class="fa fa-bolt fa-fw"></i> @ShiftStrings.history</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="scrollbar-macosx">
                <div class="list-group"></div>
            </div>
        </div>
        <div class="col-md-9" id="record">
            <div class="panel panel-default">
                <div class="panel-heading page-panel-heading">@ShiftStrings.record</div>
                <div class="panel-body page-panel-body">
                    <div class="row custom">
                        <div class="col-md-2">
                            @ShiftStrings.code
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="code" maxlength="50" required disableonupdate="yes" class="form-control form-code" />
                        </div>
                    </div>
                    <div class="row custom">
                        <div class="col-md-2">
                            @ShiftStrings.description
                        </div>
                        <div class="col-md-4">
                            <input type="text" maxlength="250" id="description" required class="form-control" />
                        </div>
                    </div>
                    <div class="row custom">
                        <div class="col-md-2">
                            @ShiftStrings.organization
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <input type="text" maxlength="50" class="form-control" disableonupdate="yes" required id="org">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" disableonupdate="yes" type="button" id="btnorg"><i class="fa fa-search fa-fw"></i></button>
                                </span>
                            </div><!-- /input-group -->
                        </div>
                    </div>
                    <div class="row custom">
                        <div class="col-md-2">
                            @ShiftStrings.starttime1
                        </div>
                        <div class="col-md-2">
                            <input type="text" id="starttime1" required ctrltype="timepicker" class="form-control" />
                        </div>
                        <div class="col-md-2">
                            <input type="text" ctrltype="numeric" required allowfloat="true" id="duration1" class="form-control" />
                        </div>
                    </div>
                    <div class="row custom">
                        <div class="col-md-2">
                            @ShiftStrings.starttime2
                        </div>
                        <div class="col-md-2">
                            <input type="text" id="starttime2" ctrltype="timepicker" class="form-control" />
                        </div>
                        <div class="col-md-2">
                            <input type="text" ctrltype="numeric" allowfloat="true" id="duration2" class="form-control" />
                        </div>
                    </div>
                    <div class="row custom">
                        <div class="col-md-2">
                            @ShiftStrings.active
                        </div>
                        <div class="col-md-2">
                            <div class="checkbox checkbox-primary">
                                <input type="checkbox" checked="checked" class="styled" id="active" />
                                <label></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.IncludeVersionedJs("/Scripts/custom/ovi.custom.list.js")
@Html.IncludeVersionedJs("/Scripts/other/numericInput.min.js")
@Html.IncludeVersionedJs("/Scripts/app/Shifts.js")