@using Resources.ContractPartPrices.Index
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Default.cshtml";
}
<div style="margin-top: 10px">
    <div class="page-header">
        <h4>@ContractPartPricesStrings.contractpartprices</h4>
        <h6></h6>
    </div>
    <div id="grdContractPartPrices"></div>
    <div class="sidebars">
        <div class="sidebar right" style="right: -400px;">
            <div class="row">
                <div class="col-md-12" style="text-align: center; margin-top: 10px;">
                    <button id="filter" class="btn btn-primary btn-xs"><i class="fa fa-filter"></i> @ContractPartPricesStrings.filter</button>
                    <button id="clearfilter" class="btn btn-info btn-xs"><i class="fa fa-ban"></i> @ContractPartPricesStrings.reset</button>
                    <button id="closesiderbar" class="btn btn-danger btn-xs"><i class="fa fa-times"></i> @ContractPartPricesStrings.close</button>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.IncludeVersionedJs("/Scripts/jquery/jquery.sidebar.min.js")
@Html.IncludeVersionedJs("/Scripts/app/ContractPartPrices.js")