@using Resources.Messages.Index
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Default.cshtml";
}
<div style="margin-top: 10px">
    <div class="page-header">
        <h4>@MessagesStrings.localizations</h4>
        <h6></h6>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tms-page-toolbar inline-toolbar left" data-block="#record">
                <div class="btn-group">
                    <button class="btn btn-default btn-sm" title="Ctrl+R" selection-required="false" id="btnNew"><i class="fa fa fa-plus fa-fw"></i> @MessagesStrings.addnew</button>
                    <button class="btn btn-default btn-sm" title="Ctrl+S" selection-required="false" id="btnSave"><i class="fa fa-floppy-o fa-fw"></i> @MessagesStrings.save</button>
                    <button class="btn btn-default btn-sm" title="Ctrl+U" selection-required="true" id="btnUndo"><i class="fa fa-undo fa-fw"></i> @MessagesStrings.undo</button>
                    <button class="btn btn-default btn-sm" title="Ctrl+D" selection-required="true" id="btnDelete"><i class="fa fa-trash-o fa-fw"></i> @MessagesStrings.delete</button>
                    <button class="btn btn-default btn-sm" title="Ctrl+H" selection-required="true" id="btnHistory" disabled="disabled"><i class="fa fa-bolt fa-fw"></i> @MessagesStrings.history</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="grdLocalizations"></div>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;" id="record">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading page-panel-heading">@MessagesStrings.record</div>
                <div class="panel-body page-panel-body">
                    <div class="row custom">
                        <div class="col-md-2">
                            @MessagesStrings.code
                        </div>
                        <div class="col-md-3">
                            <input type="text" maxlength="50" id="code" required disableonupdate="yes" class="form-control uppercase" />
                        </div>
                    </div>
                    <div class="row custom">
                        <div class="col-md-2">
                            @MessagesStrings.language
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="text" maxlength="50" class="form-control" required id="language">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" id="btnlanguage"><i class="fa fa-search fa-fw"></i></button>
                                </span>
                            </div><!-- /input-group -->
                        </div>
                    </div>
                    <div class="row custom">
                        <div class="col-md-2">
                            @MessagesStrings.text
                        </div>
                        <div class="col-md-3">
                            <input type="text" id="text" required class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.IncludeVersionedJs("/Scripts/app/Messages.js")