@using Resources.PurchaseOrders.Index

@{
    Layout = "~/Views/Shared/Default.cshtml";
}

@Html.IncludeVersionedCss("/Content/bootstrap/bootstrap-tagsinput.css")
@Html.IncludeVersionedCss("/Content/jquery/jquery.fileupload.css")
@Html.IncludeVersionedCss("/Content/jquery/jquery.contextMenu.min.css")



<div style="margin-top: 10px">
    <div class="page-header">
        <h4>
            @PurchaseOrders.purchaseorderrequisition
        </h4>
        <h6></h6>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tms-page-toolbar inline-toolbar left" data-block="#record">
            <div class="btn-group">
                <button class="btn btn-default btn-sm" title="Ctrl+R" selection-required="false" id="btnNew"><i class="fa fa fa-plus fa-fw"></i>@PurchaseOrders.addnew</button>
                <button class="btn btn-default btn-sm" disabled="disabled" selection-required="false" title="Ctrl+S" id="btnSave"><i class="fa fa-floppy-o fa-fw"></i>@PurchaseOrders.save</button>
                <button class="btn btn-default btn-sm" disabled="disabled" selection-required="true" title="Ctrl+U" id="btnUndo"><i class="fa fa-undo fa-fw"></i>@PurchaseOrders.undo</button>
                <button class="btn btn-default btn-sm" disabled="disabled" selection-required="true" title="Ctrl+D" id="btnDelete"><i class="fa fa-trash-o fa-fw"></i>@PurchaseOrders.delete</button>

            </div>
        </div>
    </div>
</div>
<ul class="nav nav-tabs" id="navpurchaseorders">
    <li class="active"><a data-toggle="tab" href="#list">@PurchaseOrders.list</a></li>
    <li><a data-toggle="tab" href="#record">@PurchaseOrders.record</a></li>
    <li><a enable-on-selection href="#divpart">@PurchaseOrders.parts</a></li>
</ul>
<div class="tab-content">
    <div id="list" class="tab-pane active">
        <div id="grdPurchaseOrders"></div>
    </div>
    <div id="record" class="tab-pane">
        <div class="row record-content">
            <div class="col-md-8" id="divHeader">
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading task-panel-heading">@PurchaseOrders.record</div>
                            <div class="panel-body task-panel-body">
                                <div class="row custom">
                                    <div class="col-md-4">
                                        @PurchaseOrders.purchaseordercode
                                    </div>
                                    <div class="col-md-8">
                                        <input disabled="disabled" alwaysdisabled="yes" id="purchaseorderno" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="row custom">
                                    <div class="col-md-4">
                                        @PurchaseOrders.description
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" disableoncomplete required="" maxlength="250" contenteditable="" id="description" autocomplete="off" class="form-control" />
                                    </div>
                                </div>
                                <div class="row custom">
                                    <div class="col-md-4">
                                        @PurchaseOrders.organization
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <input type="text" disableonupdate="yes" loadstatusesonchange="yes" maxlength="50" required class="form-control" id="org">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" disableonupdate="yes" id="btnorg"><i class="fa fa-search fa-fw"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row custom">
                                    <div class="col-md-4">
                                        @PurchaseOrders.type
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <input type="text" loadstatusesonchange="yes" disableonupdate="yes" maxlength="50" required data-entity="TASK" class="form-control" id="type">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" disableonupdate="yes" id="btntype"><i class="fa fa-search fa-fw"></i></button>
                                            </span>
                                        </div><!-- /input-group -->
                                    </div>
                                </div>
                                <div class="row custom">
                                    <div class="col-md-4">
                                        @PurchaseOrders.status
                                    </div>
                                    <div class="col-md-8">
                                        <select class="form-control" data-code="-" data-pcode="Q" data-text="" required id="status"></select>
                                    </div>
                                </div>
                                <div id="divcancellationreason" class="hidden">
                                    <div class="row custom">
                                        <div class="col-md-4">
                                            @PurchaseOrders.cancellationreason
                                        </div>
                                        <div class="col-md-8">
                                            <select class="form-control" disableoncomplete id="cancellationreason">
                                                <option class="default" value="">@PurchaseOrders.pleaseselect</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row custom">
                                    <div class="col-md-4">
                                        @PurchaseOrders.quo
                                    </div>
                                    <div class="col-md-8">
                                        <input disabled="disabled" alwaysdisabled="yes" id="purchaseorderquo" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="row custom">
                                    <div class="col-md-4">
                                        @PurchaseOrders.task
                                    </div>
                                    <div class="col-md-8">
                                        <input disabled="disabled" data-brach="" alwaysdisabled="yes" id="purchaseordertask" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="row custom">
                                    <div class="col-md-4">
                                        @PurchaseOrders.activity
                                    </div>
                                    <div class="col-md-8">
                                        <select class="form-control" disabled="disabled"  disableoncomplete disableonupdate="yes" id="purchaseorderactivity">
                                            <option class="default" value="">@PurchaseOrders.pleaseselect</option>
                                        </select>
                                        @*<input disabled="disabled" alwaysdisabled="yes" id="purchaseorderactivity" type="text" class="form-control" />*@
                                    </div>
                                </div>
                                <div class="row custom">
                                    <div class="col-md-4">
                                        @PurchaseOrders.branch
                                    </div>
                                    <div class="col-md-8">
                                        <input disabled="disabled" alwaysdisabled="yes" id="purchaseorderregion" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="row custom">
                                    <div class="col-md-4">
                                        @PurchaseOrders.warehouse
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <input type="text" disableoncomplete maxlength="50" required class="form-control" id="warehouse">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" disableoncomplete type="button" id="btnwarehouse"><i class="fa fa-search fa-fw"></i></button>
                                            </span>
                                        </div><!-- /input-group -->
                                    </div>
                                </div>
                                <div class="row custom">
                                    <div class="col-md-4">
                                        @PurchaseOrders.requestedby
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <input type="text" disableoncomplete maxlength="50" required class="form-control" id="requestedby">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" disableoncomplete type="button" id="btnrequestedby"><i class="fa fa-search fa-fw"></i></button>
                                            </span>
                                        </div><!-- /input-group -->
                                    </div>
                                </div>
                                <div class="row custom">
                                    <!--Not-->
                                    <div class="col-md-4">
                                        @PurchaseOrders.requested
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" disableoncomplete required maxlength="16" id="requestdate" ctrltype="datepicker" class="form-control" />
                                    </div>
                                </div>
                                <div class="row custom hidden">
                                    <div class="col-md-4">
                                        @PurchaseOrders.supplier
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <input type="text" disableoncomplete maxlength="50" class="form-control" id="supplier">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" disableoncomplete type="button" id="btnsupplier"><i class="fa fa-search fa-fw"></i></button>
                                            </span>
                                        </div><!-- /input-group -->
                                    </div>
                                </div>
                                <div class="row custom hidden">
                                    <div class="col-md-4">
                                        @PurchaseOrders.currency
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <input type="text" required disableoncomplete class="form-control" id="currency">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" disableoncomplete type="button" id="btncurrency"><i class="fa fa-search fa-fw"></i></button>
                                            </span>
                                        </div><!-- /input-group -->
                                    </div>
                                </div>
                                <div class="row custom hidden">
                                    <div class="col-md-4">
                                        @PurchaseOrders.exchangerate
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" disableoncomplete required calc-group="1" valtype="EXCH" min="0" ctrltype="numeric" allowfloat="true" class="form-control" id="exchangerate" />
                                    </div>
                                </div>
                                <div class="row custom">
                                    <div class="col-md-4">
                                        @PurchaseOrders.createdby
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" disabled="disabled" maxlength="50" class="form-control" id="createdby">
                                    </div>
                                </div>
                                <div class="row custom">
                                    <!--Not-->
                                    <div class="col-md-4">
                                        @PurchaseOrders.created
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" disabled="disabled" alwaysdisabled="yes" maxlength="16" id="createddate" ctrltype="datetimepicker" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="panel panel-default">
                            <div class="panel-heading task-panel-heading">@PurchaseOrders.deliveryinformation</div>
                            <div class="panel-body task-panel-body">
                                <div class="row">
                                    <div class="row custom">
                                        <div class="col-md-4">
                                            @PurchaseOrders.deliverytype
                                        </div>
                                        <div class="col-md-8">
                                            <select required disableoncomplete class="form-control" data-code="-" data-pcode="Q" data-text="" id="adrtype"></select>
                                        </div>
                                    </div>
                                    <div class="row custom">
                                        <div class="col-md-4">
                                            @PurchaseOrders.deliveryadr
                                        </div>
                                        <div class="col-md-8">
                                            <textarea required disableoncomplete class="form-control" maxlength="1000" rows="3" id="fulladr" autocomplete="off" spellcheck="false"></textarea>
                                        </div>
                                    </div>
                                    <div class="row custom">
                                        <div class="col-md-4">
                                            @PurchaseOrders.relatedperson
                                        </div>
                                        <div class="col-md-8">
                                            <input required disableoncomplete class="form-control" maxlength="50" rows="3" id="relatedperson" autocomplete="off" spellcheck="false" />
                                        </div>
                                    </div>
                                    <div class="row custom">
                                        <div class="col-md-4">
                                            @PurchaseOrders.phone
                                        </div>
                                       
                                        <div class="col-md-6">
                                            <input type="text" disableoncomplete placeholder="5001234567" ctrltype="phone" maxlength="10" required class="form-control" id="usrphonenumber" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default" style="height: 700px;">
                    <div class="panel-heading task-panel-heading">@PurchaseOrders.comment</div>
                    <div class="panel-body">
                        <textarea class="form-control" contenteditable rows="3" id="comment"></textarea>
                        <div class="inline-toolbar">
                            <button class="btn btn-primary btn-xs" disabled="disabled" id="addComment"><i class="fa fa-plus-circle"></i> @PurchaseOrders.add</button>
                        </div>
                        <div id="comments" class="sm">
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" style="height: 372px;">
                    <div class="panel-heading task-panel-heading">@PurchaseOrders.docs</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="progress">
                                    <div class="progress-bar" id="docuprogress" role="progressbar" style="width: 0%; min-width: 2em;">0%</div>
                                </div>
                            </div>
                        </div>
                        <div class="row custom">
                            <div class="col-md-12">
                                <div id="fupload">
                                    <span class="btn btn-default fileinput-button" id="btnBrowse">
                                        <i class="fa fa-search"></i>
                                        <span>@PurchaseOrders.browse</span>
                                        <input type="file" name="files[]" id="fu" multiple data-url="/UploadFile.ashx">
                                    </span>
                                    <button class="btn btn-default" id="btnupload" disabled="disabled"><i class="fa fa-cloud-upload"></i>@PurchaseOrders.upload</button>
                                    <div class="row custom">
                                        <div class="col-md-12">
                                            <div id="filename"></div>
                                        </div>
                                    </div>
                                </div>
                                <div id="docs" class="light-size"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="divpart" class="tab-pane">
        <div class="row">
            <div class="col-md-12">
                <div id="grdPurchaseOrderParts"></div>
            </div>
        </div>
        <br />
        <div id="partsform" class="panel panel-default items">
            <div class="panel-heading page-panel-heading">@PurchaseOrders.parts</div>
            <div class="row">
                <div class="col-md-12" style="padding-right: 0">
                    <div class="inline-toolbar left" style="border: none;" data-block="#parts">
                        <div class="btn-group">
                            <button class="btn btn-default btn-sm" title="Ctrl+R" selection-required="false" disabled id="btnAddPart"><i class="fa fa fa-plus fa-fw"></i>@PurchaseOrders.addnew</button>
                            <button class="btn btn-default btn-sm" title="Ctrl+S" selection-required="false" disabled id="btnSavePart"><i class="fa fa-floppy-o fa-fw"></i>@PurchaseOrders.save</button>
                            <button class="btn btn-default btn-sm" disabled="disabled" title="Ctrl+D" id="btnDeletePart"><i class="fa fa-trash-o fa-fw"></i>@PurchaseOrders.delete</button>

                        </div>
                    </div>
                </div>
                <div class="panel-body page-panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row custom">
                                <div class="col-md-3">
                                    @PurchaseOrders.purchaseorderlinecode
                                </div>
                                <div class="col-md-5">
                                    <input disabled="disabled" alwaysdisabled="yes" id="purchaseorderlineno" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="row custom">
                                <div class="col-md-3">
                                    @PurchaseOrders.partcode
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <input type="text" loadstatusesonchange="yes" disableonupdate="yes" maxlength="50" required class="form-control" id="part">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" disableonupdate="yes" id="btnparts"><i class="fa fa-search fa-fw"></i></button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <input type="text" disabled="disabled" alwaysdisabled="yes" type="text" id="paruom" class="form-control" />
                                </div>
                            </div>
                            <div class="row custom">
                                <div class="col-md-3">
                                </div>
                                <div class="col-md-5">
                                    <div class="input-group">
                                        <input type="text" disabled required class="form-control" id="partdesc">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" id="btnstock">Stok Durumu</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row custom">
                                <div class="col-md-3">
                                    @PurchaseOrders.partnote
                                </div>
                                <div class="col-md-5">
                                    <textarea class="form-control" maxlength="1000" rows="3" id="partnote" autocomplete="off" spellcheck="false"></textarea>
                                </div>
                            </div>
                            <div class="row custom">
                                <div class="col-md-3">
                                    @PurchaseOrders.quantity
                                </div>
                                <div class="col-md-5">
                                    <input type="text" calc-group="1" ctrltype="numeric" allowfloat="true" required id="quantity" class="form-control" />
                                </div>
                            </div>
                            <div class="row custom">
                                <div class="col-md-3">
                                    @PurchaseOrders.uom
                                </div>
                                <div class="col-md-5">
                                    <div class="input-group">
                                        <input type="text" loadstatusesonchange="yes" disableonupdate="yes" maxlength="50" required class="form-control" id="uom">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" disableonupdate="yes" id="btnuom"><i class="fa fa-search fa-fw"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row custom">
                                <div class="col-md-3">
                                    @PurchaseOrders.uommulti
                                </div>
                                <div class="col-md-5">
                                    <input type="text" required="" type="text" id="uommulti" class="form-control" />
                                </div>
                            </div>
                            <div class="row custom">
                                <!--Not-->
                                <div class="col-md-3">
                                    @PurchaseOrders.requested
                                </div>
                                <div class="col-md-5">
                                    <input type="text" required maxlength="16" id="partrequestdate" ctrltype="datepicker" class="form-control" />
                                </div>
                            </div>
                            <div class="row custom hidden">
                                <div class="col-md-3">
                                    @PurchaseOrders.estimatedunitprice
                                </div>
                                <div class="col-md-5">
                                    <input type="text" valtype="PRICE" ctrltype="numeric" allowfloat="true" min="0" calc-group="1" maxlength="50" class="form-control" id="partunitprice" />
                                </div>
                            </div>
                            <div class="row custom hidden">
                                <div class="col-md-3">
                                    @PurchaseOrders.currency
                                </div>
                                <div class="col-md-5">
                                    <div class="input-group">
                                        <input type="text" disableoncomplete maxlength="50" class="form-control" id="partcurrency">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" disableoncomplete type="button" id="btnpartcurrency"><i class="fa fa-search fa-fw"></i></button>
                                        </span>
                                    </div><!-- /input-group -->
                                </div>
                            </div>
                            <div class="row custom hidden">
                                <div class="col-md-3">
                                    @PurchaseOrders.exchangerate
                                </div>
                                <div class="col-md-5">
                                    <input type="text" maxlength="50" class="form-control" valtype="EXCH" min="0" ctrltype="numeric" allowfloat="true" id="partexchangerate" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 hidden">
                            <div class="row custom">
                                <div class="col-md-3">
                                    @PurchaseOrders.vattax
                                </div>
                                <div class="col-md-5">
                                    <select class="form-control" calc-group="1" data-code="-" data-pcode="Q" data-text="" id="vat"></select>
                                </div>
                            </div>
                            <div class="row custom hidden">
                                <div class="col-md-3">
                                    @PurchaseOrders.tax
                                </div>
                                <div class="col-md-5">
                                    <input type="text" calc-group="1" valtype="PRICE" ctrltype="numeric" allowfloat="true" autocomplete="off" class="form-control" id="tax2">
                                </div>
                            </div>
                            <div class="row custom hidden">
                                <div class="col-md-3">
                                    @PurchaseOrders.totalprice
                                </div>
                                <div class="col-md-5">
                                    <input type="text" disabled="disabled" class="form-control" id="totalpartprice" tabindex="155" autocomplete="off">
                                </div>
                                <div class="col-md-1">
                                    <qtip data-hasqtip="12"><input type="text" disabled="disabled" class="form-control" id="totalpartpricecurr" autocomplete="off"></qtip>
                                </div>
                            </div>
                            <div class="row custom hidden">
                                <div class="col-md-3">
                                    @PurchaseOrders.totaltax
                                </div>
                                <div class="col-md-5">
                                    <input type="text" disabled="disabled" class="form-control" id="totalparttaxes" autocomplete="off">
                                </div>
                                <div class="col-md-1">
                                    <qtip data-hasqtip="12"><input type="text" disabled="disabled" class="form-control" id="totalparttaxescurr" autocomplete="off"></qtip>
                                </div>
                            </div>

                            <div class="row custom hidden">
                                <div class="col-md-3">
                                    @PurchaseOrders.totalamount
                                </div>
                                <div class="col-md-5">
                                    <input type="text" disabled="disabled" class="form-control" id="totalpartpricewithvat" autocomplete="off">
                                </div>
                                <div class="col-md-1">
                                    <qtip data-hasqtip="12"><input type="text" disabled="disabled" class="form-control" id="totalpartpricewithvatcurr" autocomplete="off"></qtip>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modalstock" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="false">&times;</span></button>
                <h4 class="modal-title" id="modaltitle"> @PurchaseOrders.stockstatus </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                </div>
                <div class="row custom">
                    <div class="col-md-12">
                        <div id="grdStock"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="createpurchaseorder" role="dialog" aria-labelledby="modalsharedlbl" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="false">&times;</span></button>
                <h4 class="modal-title" id="modaltitle"> @PurchaseOrders.purchaseorders </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row custom">
                            <div class="col-md-3">
                                @PurchaseOrders.description
                            </div>
                            <div class="col-md-9">
                                <input type="text" disableoncomplete required="" maxlength="250" contenteditable="" id="descriptiontopo" autocomplete="off" class="form-control" />
                            </div>
                        </div>
                        <div class="row custom">
                            <div class="col-md-3">
                                @PurchaseOrders.warehouse
                            </div>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input type="text" disableoncomplete maxlength="50" required class="form-control" id="warehousetopo">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" disableoncomplete type="button" id="btnwarehousetopo"><i class="fa fa-search fa-fw"></i></button>
                                    </span>
                                </div><!-- /input-group -->
                            </div>
                        </div>
                        <div class="row custom">
                            <div class="col-md-3">
                                @PurchaseOrders.supplier
                            </div>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input type="text" required disableoncomplete maxlength="50" class="form-control" id="suppliertopo">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" disableoncomplete type="button" id="btnsuppliertopo"><i class="fa fa-search fa-fw"></i></button>
                                    </span>
                                </div><!-- /input-group -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row custom">
                            <div class="col-md-3">
                                @PurchaseOrders.currency
                            </div>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input type="text" required disableoncomplete class="form-control" id="currencytopo">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" disableoncomplete type="button" id="btncurrencytopo"><i class="fa fa-search fa-fw"></i></button>
                                    </span>
                                </div><!-- /input-group -->
                            </div>
                        </div>
                        <div class="row custom">
                            <div class="col-md-3">
                                @PurchaseOrders.exchangerate
                            </div>
                            <div class="col-md-9">
                                <input type="text" disableoncomplete required calc-group="1" valtype="EXCH" min="0" ctrltype="numeric" allowfloat="true" class="form-control" id="exchangeratetopo" />
                            </div>
                        </div>
                        <div class="row custom">
                            <div class="col-md-3">
                                @PurchaseOrders.deliveryadr
                            </div>
                            <div class="col-md-9">
                                <textarea required disableoncomplete class="form-control" maxlength="1000" rows="3" id="fulladrtopo" autocomplete="off" spellcheck="false"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-xs" id="btncreatepurchaseorder">@PurchaseOrders.save</button>
            </div>
        </div>
    </div>
</div>
<script>
    var inbox = "@ViewBag.id";
</script>

@Html.IncludeVersionedJs("/Scripts/jquery/jquery.fileupload.js")
@Html.IncludeVersionedJs("/Scripts/jquery/jquery.contextMenu.min.js")
@Html.IncludeVersionedJs("/Scripts/other/numericInput.min.js")

@Html.IncludeVersionedJs("/Scripts/custom/ovi.custom.comments.js")
@Html.IncludeVersionedJs("/Scripts/custom/ovi.custom.documents.js")

@Html.IncludeVersionedJs("/Scripts/other/numericInput.min.js")
@Html.IncludeVersionedJs("/Scripts/app/PurchaseOrderRequisitons.js")
